<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="KanbanFogLamp"
    connectionString="Persist Security Info=False;Integrated Security=true;Initial Catalog=KanbanFogLamp;server=(local)"/>

  </connectionStrings>
</configuration>

<!-- <connectionStrings>
  <add name="KanbanFogLamp" 
  connectionString="Server=.\SQLDEVELOPER;Database=KanbanFogLamp;User Id=sa;Password=Conestoga1;" />
</connectionStrings>
-->